@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .custom-border{
      border-width: 22px;
    }

    .custom-width{
      width: calc(100vh + 320px);
    }

    .scrollable-section {
      position: relative;
      height: calc(100vh - 184px); /* Adjust the height based on the height of non-scrollable sections */
      overflow-y: auto;
    }

    .scrollable-section-mesg {
      position: relative;
      height: calc(100vh - 130px); /* Adjust the height based on the height of non-scrollable sections */
      overflow-y: auto;
    }

}